.tabla * {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12pt;
}

.tabla thead th {
    background-color: darkkhaki;
    color: black;
    font-weight: bold;
}